@import "tailwindcss";

@theme {
  --color-primary: #111827;
  --color-secondary: #0d1117;
  --color-secondary-300: #1e293b;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 10+*/
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
